# InsightFace Models & Heavy AI Weights
.insightface/
*.onnx
*.zip

# Python backend
backend/venv/
backend/__pycache__/
backend/.insightface/
backend/*.pdf

# Node frontend
frontend/node_modules/
frontend/.next/
frontend/out/

# Environment files
.env
.env.local
*.env

# Operating System
.DS_Store
Thumbs.db
